@charset "UTF8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color:    #290028;

    font-size: 16px;
}

#documento {
    margin: 2% auto;
    background-color: #601d5e;
    width: 90%;
    border-radius: 10px;
    padding: 10px;
    border: 3px solid black;
    box-shadow: #FFFFFF 5px 5px 15px;
}

#cabecera {
    background-color: #14e737;
    padding: 5px;
}

#cabecera #logo {
    width: 75px;
    height: 50px;
}

#cabecera #titulo {
    font-size: 1.3em;
    font-style: italic;
}

.boton {
    background-color: blue;
    color: white;
    border: thin black solid;
}

.boton a {
    text-decoration: none;
    color: white;
}

.boton a:visited {
    text-decoration: none;
    color: white;
}

.boton a:hover {
    background-color: cyan;
    color: black;
}

.boton:hover {
    background-color: cyan;
    color: black;
}

.tabla {
    width: 100%;
    border-collapse: collapse;
    border: none;
    background-color: white;
}

.tabla th {
    background-color: teal;
    color: blue;
}

.tabla tr.par {
    background-color: black;
    color: white;

}

.tabla tr.impar {
    color: black;
}

#pie {
    background-color: #81e714;
    color: blue;
    font-size: 1.5 em;
    padding: 5px;
}

.for_texto {
    border: blue thin solid;
    background-color: white;
    padding: 2px;
    margin: 2px;
    border-radius: 4px;
}

.error {
    background-color: white;
    color: red;
    border: thin solid red;
    padding: 5px;
}
.barraUbi {
            font: 14px system-ui;
            margin: 1rem 0;
        }

        .barraUbi a:focus{
            text-decoration: none;
             color: #e639e6;
        }

        .barraUbi a:hover {
            text-decoration: underline;
        }

        .barraUbi .sep {
            margin: 1rem;
            opacity: .6;
        }

        .barraUbi [aria-current="page"] {
            font-weight: 600;
            cursor: default;
        }


#barraMenu{
    border-top: 2px solid white;
}

#barraMenu ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
#barraMenu > ul > li {
  position: relative;
  padding: 15px 25px;
  cursor: pointer;
  font-weight: bold;
  color : rgb(85, 26, 139);
  transition: 0.3s;
}
#barraMenu > ul > li:hover {
  background: #a44aee;
}
#barraMenu ul ul {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  background: #9f66e9;
  border: 1px solid #ccc;
  min-width: 180px;
  flex-direction: column;
  z-index: 99;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}
#barraMenu li:hover ul {
  display: flex;
  opacity: 1;
  pointer-events: auto;
}
#barraMenu ul ul li {
  padding: 12px 20px;
  color: #FFFFFF;
}
#barraMenu ul ul li:hover {
   background: #a44aee;

}

#barraMenu a:focus{
   color: #e639e6;

}

a:focus{
     color: #e639e6;
}
